<h1>Cat me up!</h1>


<form action="<%=cat_url(cat)%>" method="post">
  <input type="hidden" name="_method" value="PATCH"/>
  <label>Name
    <input type="text" name="cat[name]" value="<%= cat.name %>">
  </label>
  <br>
  <label>Sex
    <select name="cat[sex]">
      <% ['M', 'F'].each do |sex| %>
        <option
          value="<%= cat.sex %>" <% if cat.sex == sex %> <%= "selected" %> <% end %>>
          <%= sex %>
        </option>
      <% end %>
    </select>
  </label>
  <br>
  <label>Birth Date
    <input type="date" name="<%=cat.birth_date%>" value=<%= cat.birth_date %> >
  </label>
  <br>
  <label>Color
  <select name="cat[color]">
    <option value="" selected disabled>Please Select</option>
    <% Cat::COLORS.each do |color_choice| %>
      <option value="<%= color_choice %>" <% if cat.color == color_choice %> <%= "selected" %> <% end %>><%= color_choice.capitalize %></option>
    <% end %>
  </select>
  </label>
  <br>
  <label>Description
    <textarea name="cat[description]" cols="45" rows="4"><%= cat.description %></textarea>
  </label>
  <input value="Update Cat" type="submit">
</form>
